<div class="olaf-header">
	<div class="container">
		<div class="col-md-4">
			<a href="/" class="home-title-wrapper">
				<!-- <img src="/img/logo.png" alt="Logo" ng-class="{ 'logo-compact': type == 'R' }" style="height:100px;"/> -->
				<span class="home-title">PadelWar</span><b>.es</b>
			</a>
		</div>
	</div>
	<div>
		<!--button class="btn btn-primary" ng-click="loginCall()" ng-if="!user.connected">
			Regístrate con Facebook
		</button-->
		<div ng-if="user.connected">
			Bienvenido {{ user.first_name }}
			<img ng-src="{{ user.picture.url }}" alt="profile picture"/>
		</div>
	</div>
</div>
