.data-container {
	position: absolute;
	top: 140px;
	bottom: 0;
	right: 0;
	z-index: 10;
	border-left: 5px solid #CD3434;
	background: #FFF;
	opacity: .95;
	width: 100%;
	padding: 5px 0 0 5px;
	padding-left: 25px;
}

.data-container.opened {
	right: 0;
	-webkit-transition: 300ms cubic-bezier(.42,0,.58,1) right;
	-moz-transition: 300ms cubic-bezier(.42,0,.58,1) right;
	-ms-transition: 300ms cubic-bezier(.42,0,.58,1) right;
	-o-transition: 300ms cubic-bezier(.42,0,.58,1) right;
	transition: 300ms cubic-bezier(.42,0,.58,1) right;
}

.data-container.closed {
	right: 0;
	-webkit-transition: 300ms cubic-bezier(.42,0,.58,1) right;
	-moz-transition: 300ms cubic-bezier(.42,0,.58,1) right;
	-ms-transition: 300ms cubic-bezier(.42,0,.58,1) right;
	-o-transition: 300ms cubic-bezier(.42,0,.58,1) right;
	transition: 300ms cubic-bezier(.42,0,.58,1) right;
}

.data-container .sr-title {
	margin-bottom: 0;
	text-transform: capitalize;
}

.data-container .pagination > .active > a {
	background: #CD3434;
	border-color: #CD3434;
}

.data-container .pagination > li > a,
.data-container .pagination > .active > a {
	cursor: pointer;
}

.data-container .close-icon {
	position: absolute;
	top: 30px;
	left: -45px;
	width: 40px;
}

.data-container .close-icon a {
	color: #CD3434
}


.sr-filters {
	font-size: 11px;
}

.sr-filters .checkbox {
	margin: 0;
}


@media (min-width: 992px) {
	.olaf-results .close-icon {
		display: inline-block;
	}

	.olaf-results .data-container {
		top: 85px;
		width: 400px;
	}
}
