<!DOCTYPE html>
<html id="ng-app" lang="{{ lang }}" ng-app="olaf" ng-cloak>
    <head>
        <title>{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="fragment" content="!">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta property="og:url" content="{{ site.og.url }}">
        <meta property="og:title" content="{{ site.og.title }}">
        <meta property="og:image" content="">
        <meta property="og:description" content="{{ site.og.desc }}">
        <meta property="fb:app_id" content="{{ site.og.id }}">

        <meta name="description" content="{{ site.desc }}">
        <link rel="stylesheet" href="/css/padel.min.css?v=<%= commitId %>">
    </head>
    <body class="{{ bodyClass }}" ng-cloak ng-controller="bodyCtrl">
        <div ng-view></div>
        <olaf-footer></olaf-footer>
        <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
        <script src="/js/vendor<%= minSuffix %>.js"></script>
        <script src="/js/padel<%= minSuffix %>.js?v=<%= commitId %>"></script>
    </body>
</html>
