/* Setting up the map to height 100% */
body, .ng-scope, .olaf-results, .sr-container, .map-container, .angular-google-map, .angular-google-map-container {
	height: 100%;
}


.olaf-results .sr-container {
	position: relative;
}

.olaf-results .searcher-container {
	position: absolute;
	top: 80px;
	left: 35px;
	right: 10px;
	z-index: 10;
}

.olaf-results .map-container {
	display: block;
}

.olaf-results .angular-google-map-container {
	/*height: 500px;*/
}

.olaf-results .close-icon {
	display: none;
}

.selected-center {
	position: absolute;
	bottom: 20px;
	left: 30px;
	padding: 10px 20px;
	background: white;
	border-radius: 7px;
}

@media (min-width: 400px) {
	.olaf-results .searcher-container {
		left: 80px;
	}
}

@media (min-width: 992px) {
	.olaf-results .searcher-container {
		top: 5px;
	}

	.olaf-results .data-container.closed {
		right: -330px;
	}
}
