.olaf-footer {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 20;
}

.olaf-footer .olaf-tabs {
	position: absolute;
	bottom: 60px;
	width: 100%;
	padding: 15px 0;
	background: #FFF;
	opacity: .8;
	color: #CD3434;
}

.olaf-footer .foot {
	background: #CD3434;
	color: #FFF;
	padding: 20px 0;
}

@media (min-width: 992px) {
	.olaf-tabs {
		display: none;
	}
}

/*.olaf-footer div {
	font-family: "Padel War";
}*/
