<div class="search-result-data">
	<div ng-if="!empty">
		<ul class="list-group sr-data">
			<li ng-repeat="center in data" class="list-group-item sr-data-item" 
				ng-class="{'odd-line': $index % 2 != 0 }"
				ng-show="($index + 1 ) > (pag.current - 1) * pag.length && ($index + 1) <= pag.current * pag.length">
				<a href="#" ng-click="selectCenter(center)">{{$index + 1}}. {{ center.name | truncate:35 }}</a>
			</li>
		</ul>

		<pagination boundary-links="true" ng-show="data.length > pag.length" max-size="pag.maxSize"
			total-items="data.length" items-per-page="pag.length"
			page="pag.current" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
		</pagination>
	</div>
	<div ng-if="!!empty">
		No hay resultados para mostrar
	</div>
</div>