extends ../layout

block content
	table.table
		tr
			th 
			th Name
			th Username
			th Email

		each user, i in users
			tr
				td= (i + 1) 
				td
					a(href = '/user/' + user.id)= user.name
				td= user.username
				td= user.email