<div>
	<p class="lead sr-title">{{ center.name }}</p>

	<p ng-if="center.image">
		<img src="/img/logos/{{center.image}}" />
	</p>

	<address ng-show="center.address">
		{{center.address}}<br>
		<a href="mailto:{{center.email}}" ng-if="center.email"><span class="glyphicon glyphicon-envelope"></span> {{center.email}}</a>
	</address>

	<ul class="list-unstyled">
		<li ng-show="center.phone"><p><span class="glyphicon glyphicon-earphone"></span> {{center.phone | phone}}<p></li>
		<li ng-show="center.web"><p><span class="glyphicon glyphicon-globe"></span> <a href="{{center.web}}" target="_blank" >Web</a></p></li>
		<li ng-show="center.courts"><p><span class="glyphicon glyphicon-th-list"></span> Pistas {{center.courts}}</p></li>
		<li ng-show="center.booking"><p><span class="glyphicon glyphicon-check"></span> <a href="{{center.booking}}">Reserva Online</a></p></li>
	</ul>

	<span>Más pistas</span>
	<ul>
		<li ng-repeat="location in center.locations" ng-show="location.type !== 'country'">
			<a href="/pistas-de-padel/{{location.friendly}}">{{location.name}}</a>
		</li>
	</ul>

	<p ng-if="previousList"><a href="#" ng-click="goBack()">Volver</a></p>
</div>